.order-details__items{
    width: 100%;
}

.order-details__item td, tr, table{
    border: 1px solid;
    border-collapse: collapse;
}

.order-details__items td:nth-child(2){
    text-align: center;
}

.order-details__items td{
    padding: 0 .5rem;
}

.order-total{
    margin-top: 1rem;
}

.order-info{
    display: flex;
    flex-direction: column;
}

.order-info span:first-child{
    width: 5rem;
}
.order-info span:nth-child(2){
    font-weight: bold;
}

.order-info > div{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
}

.total-order{
    margin-top: 2rem;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 1.3rem;
}

.complete-order{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    overflow-y: scroll;
}

.order-btns{
    display: flex;
    justify-content: space-between;
}

.order-btns button{
    width: 5rem;
    background-color: rgb(25, 118, 210);
    padding: .8rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all .1s;
    font-size: 1rem;
    font-family: inherit;
}