.thanks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 100vw;
}

.spinner{
    width: 3rem;
}
.thanks-processed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 2rem;
}

@media(max-width: 768px){
    .thanks-processed{
        margin-top: 2rem;
        font-size: .8rem;
        gap: .5rem;
    }
}
@media(max-width: 425px){
    .thanks-processed{
        font-size: .5rem;
    }
    .thanks-processed .spinner{
        width: 2rem;
    }
}