.popular{
    background-color: #c3dcf7;
    padding: 2rem 0;
}

.popular-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 10rem;
    aspect-ratio: 1;
    margin: 0 1rem;
    background-color: #fff;
    padding: 1rem;
    gap: .5rem;
}

.popular-card img{
    width: 100%;
}

.popular__price{
    align-self: flex-start;
}


@media (max-width: 1024px) {
    .popular__container img{
        width: 100%;
    }
    .popular__container a:first-child{
        display: none;
    }  
}

@media (max-width: 768px) {
    .popular__container img{
        max-height: 10rem;
        max-width: 5rem;
    }
    .popular-card{
        margin: 3px;
        width: 8rem;
    }   
}