.sidebar{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-self: flex-start;
    background-color: rgb(210, 210, 210);
    z-index: 9999;
}

.sidebar a{
    color: black;
    text-decoration: none;
}

.sidebar__category{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.sidebar__category:hover{
    background-color: rgb(108, 107, 107);
    color: #fff;
}

@media (max-width: 1024px){
    .sidebar__category{
        width: max-content;
        font-size: 1rem;
    }
}
@media (max-width: 768px){
    .sidebar__category{
        width: max-content;
        font-size: .7rem;
    }
}
@media (max-width: 375px){
    .sidebar__category{
        display: none;
    }
}