@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, 
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
}

svg{
    user-select: none;
}

